<!-- Tufts VUE 3.3.0 concept-map (communication_diagram.vue) 2016-10-24 -->
<!-- Tufts VUE: http://vue.tufts.edu/ -->
<!-- Do Not Remove: VUE mapping @version(1.1) jar:file:/C:/Program%20Files%20(x86)/VUE/VUE.jar!/tufts/vue/resources/lw_mapping_1_1.xml -->
<!-- Do Not Remove: Saved date Mon Oct 24 18:33:05 CEST 2016 by MAL on platform Windows 8 6.2 in JVM 1.7.0_21-b11 -->
<!-- Do Not Remove: Saving version @(#)VUE: built October 8 2015 at 1658 by tomadm on Linux 2.6.32-504.23.4.el6.x86_64 i386 JVM 1.7.0_21-b11(bits=32) -->
<?xml version="1.0" encoding="US-ASCII"?>
<LW-MAP xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="none" ID="0"
    label="communication_diagram.vue" created="1477321093291" x="0.0"
    y="0.0" width="1.4E-45" height="1.4E-45" strokeWidth="0.0" autoSized="false">
    <resource referenceCreated="1477326785828" size="25416"
        spec="C:\Users\mal\rbrcode\InteractiveTrainingTool\communication_diagram.vue"
        type="1" xsi:type="URLResource">
        <title>communication_diagram.vue</title>
        <property key="File" value="C:\Users\mal\rbrcode\InteractiveTrainingTool\communication_diagram.vue"/>
    </resource>
    <fillColor>#FFFFFF</fillColor>
    <strokeColor>#404040</strokeColor>
    <textColor>#000000</textColor>
    <font>SansSerif-plain-14</font>
    <URIString>http://vue.tufts.edu/rdf/resource/f7459f7383d350e3016dd1bebc4a43c2</URIString>
    <child ID="6" label="ITT" layerID="1" created="1477321106573"
        x="698.0" y="323.0" width="172.0" height="144.0"
        strokeWidth="1.0" autoSized="false" xsi:type="node">
        <fillColor>#00000000</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/f7459f7383d350e3016dd1be9951e95f</URIString>
        <child ID="26" label="> project_update(what)"
            created="1477321779392" x="34.0" y="23.0" width="137.0"
            height="23.0" strokeWidth="1.0" autoSized="true" xsi:type="node">
            <fillColor>#00000000</fillColor>
            <strokeColor>#000000</strokeColor>
            <textColor>#000000</textColor>
            <font>Arial-plain-12</font>
            <URIString>http://vue.tufts.edu/rdf/resource/f7459f7483d350e3016dd1bed2deb38b</URIString>
            <shape xsi:type="rectangle"/>
        </child>
        <child ID="36" label="> _query_complete()"
            created="1477322148654" x="34.0" y="43.25" width="124.0"
            height="23.0" strokeWidth="1.0" autoSized="true" xsi:type="node">
            <fillColor>#00000000</fillColor>
            <strokeColor>#000000</strokeColor>
            <textColor>#000000</textColor>
            <font>Arial-plain-12</font>
            <URIString>http://vue.tufts.edu/rdf/resource/f7459f7483d350e3016dd1be1a06cce9</URIString>
            <shape xsi:type="rectangle"/>
        </child>
        <child ID="41" label="trigger_learner_update()"
            created="1477322513680" x="34.0" y="63.5" width="145.0"
            height="23.0" strokeWidth="1.0" autoSized="true" xsi:type="node">
            <fillColor>#00000000</fillColor>
            <strokeColor>#000000</strokeColor>
            <textColor>#000000</textColor>
            <font>Arial-plain-12</font>
            <URIString>http://vue.tufts.edu/rdf/resource/f74e3ef183d350e3016dd1be132fcaf0</URIString>
            <shape xsi:type="rectangle"/>
        </child>
        <child ID="43" label="learner_update_complete()"
            created="1477322649292" x="34.0" y="83.75" width="161.0"
            height="23.0" strokeWidth="1.0" autoSized="true" xsi:type="node">
            <fillColor>#00000000</fillColor>
            <strokeColor>#000000</strokeColor>
            <textColor>#000000</textColor>
            <font>Arial-plain-12</font>
            <URIString>http://vue.tufts.edu/rdf/resource/f74e3ef183d350e3016dd1be4bae9d7c</URIString>
            <shape xsi:type="rectangle"/>
        </child>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="7" label="query_ctrl" layerID="1" created="1477321109949"
        x="465.0" y="117.0" width="179.25" height="66.5"
        strokeWidth="1.0" autoSized="true" xsi:type="node">
        <fillColor>#00000000</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/f7459f7e83d350e3016dd1be5fdeab35</URIString>
        <child ID="22" label="> trigger_query > query_item"
            created="1477321640863" x="34.0" y="23.0" width="167.0"
            height="23.0" strokeWidth="1.0" autoSized="true" xsi:type="node">
            <fillColor>#00000000</fillColor>
            <strokeColor>#000000</strokeColor>
            <textColor>#000000</textColor>
            <font>Arial-plain-12</font>
            <URIString>http://vue.tufts.edu/rdf/resource/f7459f7f83d350e3016dd1beee3fe1bf</URIString>
            <shape xsi:type="rectangle"/>
        </child>
        <child ID="32" label="> on_query_result(QueryResult)"
            created="1477321965969" x="34.0" y="43.25" width="186.0"
            height="23.0" strokeWidth="1.0" autoSized="true" xsi:type="node">
            <fillColor>#00000000</fillColor>
            <strokeColor>#000000</strokeColor>
            <textColor>#000000</textColor>
            <font>Arial-plain-12</font>
            <URIString>http://vue.tufts.edu/rdf/resource/f7459f7f83d350e3016dd1beca43551a</URIString>
            <shape xsi:type="rectangle"/>
        </child>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="8" label="project_ctrl" layerID="1"
        created="1477321113606" x="871.0" y="88.0" width="150.0"
        height="136.25" strokeWidth="1.0" autoSized="false" xsi:type="node">
        <fillColor>#00000000</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/f7459f8083d350e3016dd1be9d91e5dd</URIString>
        <child ID="19"
            label="changed:&#xa;- get_accuracies()&#xa;- get_test_accuracies()&#xa;- set_prediction()&#xa;- reset_project()&#xa;- modify_label_set()&#xa;- update learning stats...()&#xa;- update annotations ... ()&#xa;- update detection model ... ()"
            created="1477321411128" x="5.0" y="23.0" width="170.0"
            height="143.0" strokeWidth="1.0" autoSized="true" xsi:type="node">
            <fillColor>#00000000</fillColor>
            <strokeColor>#000000</strokeColor>
            <textColor>#000000</textColor>
            <font>Arial-plain-12</font>
            <URIString>http://vue.tufts.edu/rdf/resource/f7459f8083d350e3016dd1be6b491b7a</URIString>
            <shape xsi:type="rectangle"/>
        </child>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="9" label="learner" layerID="1" created="1477321116926"
        x="1125.0" y="523.0" width="171.0" height="93.0"
        strokeWidth="1.0" autoSized="false" xsi:type="node">
        <fillColor>#00000000</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/f7459f8183d350e3016dd1be62270c42</URIString>
        <child ID="40" label="> trigger&#xa;_update > update"
            created="1477322479089" x="5.0" y="23.0" width="107.0"
            height="38.0" strokeWidth="1.0" autoSized="true" xsi:type="node">
            <fillColor>#00000000</fillColor>
            <strokeColor>#000000</strokeColor>
            <textColor>#000000</textColor>
            <font>Arial-plain-12</font>
            <URIString>http://vue.tufts.edu/rdf/resource/f74e3ef483d350e3016dd1be6cd28ed6</URIString>
            <shape xsi:type="rectangle"/>
        </child>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="10" label="dataset" layerID="1" created="1477321120080"
        x="188.0" y="609.0" width="124.0" height="34.0"
        strokeWidth="1.0" autoSized="false" xsi:type="node">
        <fillColor>#00000000</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/f7459f8283d350e3016dd1bee2839fba</URIString>
        <shape xsi:type="rectangle"/>
    </child>
    <child ID="11" label="annotation" layerID="1"
        created="1477321126443" x="1173.0" y="47.0" width="119.0"
        height="50.0" strokeWidth="1.0" autoSized="false" xsi:type="node">
        <fillColor>#00000000</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/f7459f8283d350e3016dd1be406c696e</URIString>
        <shape xsi:type="rectangle"/>
    </child>
    <child ID="12" label="detection_model" layerID="1"
        created="1477321130499" x="767.0" y="661.0" width="129.0"
        height="51.0" strokeWidth="1.0" autoSized="false" xsi:type="node">
        <fillColor>#00000000</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/f7459f8283d350e3016dd1be5bee7557</URIString>
        <shape xsi:type="rectangle"/>
    </child>
    <child ID="13" label="UI: detection model view" layerID="1"
        created="1477321140982" x="1525.0" y="142.0" width="144.0"
        height="45.0" strokeWidth="1.0" autoSized="false" xsi:type="node">
        <fillColor>#00000000</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/f7459f8383d350e3016dd1bef75b6cea</URIString>
        <shape xsi:type="rectangle"/>
    </child>
    <child ID="14" label="UI: training progress view" layerID="1"
        created="1477321152270" x="1545.0" y="369.0" width="180.0"
        height="34.0" strokeWidth="1.0" autoSized="false" xsi:type="node">
        <fillColor>#00000000</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/f7459f8383d350e3016dd1be31f4156a</URIString>
        <shape xsi:type="rectangle"/>
    </child>
    <child ID="15" label="changed(what)&#xa;> project_update"
        layerID="1" created="1477321240589" x="789.94116" y="223.75"
        width="100.74603" height="122.75" strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/f7459f8783d350e3016dd1be3b574107</URIString>
        <point1 x="890.18726" y="224.25"/>
        <point2 x="790.4412" y="346.0"/>
        <ID1 xsi:type="node">8</ID1>
        <ID2 xsi:type="node">26</ID2>
    </child>
    <child ID="17" label="update_queued()&#xa;> trigger_learner_update"
        layerID="1" created="1477321289228" x="581.7174" y="177.00003"
        width="198.99695" height="210.00003" strokeWidth="1.0"
        autoSized="false" controlCount="1" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/f7459f8783d350e3016dd1be5e38d0c0</URIString>
        <point1 x="582.2174" y="177.50003"/>
        <point2 x="780.21436" y="386.50006"/>
        <ID1 xsi:type="node">32</ID1>
        <ID2 xsi:type="node">41</ID2>
        <ctrlPoint0 x="672.0" y="235.0" xsi:type="point"/>
    </child>
    <child ID="18" label="changed(what)&#xa;> project_update"
        layerID="1" created="1477321322238" x="989.0901" y="223.75"
        width="192.15668" height="299.75012" strokeWidth="1.0"
        autoSized="false" controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/f7459f8883d350e3016dd1be12624c0d</URIString>
        <point1 x="989.59015" y="224.25"/>
        <point2 x="1180.7468" y="523.0001"/>
        <ID1 xsi:type="node">8</ID1>
        <ID2 xsi:type="node">9</ID2>
    </child>
    <child ID="24" label="_trigger_one_labeling_iteration" layerID="1"
        created="1477321713343" x="623.75" y="150.0956"
        width="201.21625" height="173.4044" strokeWidth="1.0"
        strokeStyle="2" autoSized="false" controlCount="1"
        arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/f7459f8883d350e3016dd1bea104c287</URIString>
        <point1 x="787.61505" y="323.0"/>
        <point2 x="624.25" y="150.5956"/>
        <ID1 xsi:type="node">6</ID1>
        <ID2 xsi:type="node">22</ID2>
        <ctrlPoint0 x="796.0" y="156.0" xsi:type="point"/>
    </child>
    <child ID="27" label="update_ui_from_model()" layerID="1"
        created="1477321822464" x="819.7849" y="180.8247"
        width="705.715" height="165.6753" strokeWidth="1.0"
        strokeStyle="2" autoSized="false" controlCount="0"
        arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/f7459f8983d350e3016dd1beeafa3bfe</URIString>
        <point1 x="820.285" y="346.0"/>
        <point2 x="1525.0" y="181.3247"/>
        <ID1 xsi:type="node">26</ID1>
        <ID2 xsi:type="node">13</ID2>
    </child>
    <child ID="28" label="update_ui_from_model()" layerID="1"
        created="1477321824181" x="834.25" y="356.01773" width="711.25"
        height="27.166565" strokeWidth="1.0" strokeStyle="2"
        autoSized="false" controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/f7459f8983d350e3016dd1bece19bc82</URIString>
        <point1 x="834.75" y="356.51773"/>
        <point2 x="1545.0" y="382.6843"/>
        <ID1 xsi:type="node">26</ID1>
        <ID2 xsi:type="node">14</ID2>
    </child>
    <child ID="30" label="oracle" layerID="1" created="1477321891210"
        x="150.0" y="340.0" width="131.5" height="76.0"
        strokeWidth="1.0" autoSized="false" xsi:type="node">
        <fillColor>#00000000</fillColor>
        <strokeColor>#000000</strokeColor>
        <textColor>#000000</textColor>
        <font>Arial-plain-12</font>
        <URIString>http://vue.tufts.edu/rdf/resource/f7459f8983d350e3016dd1be3a4cd110</URIString>
        <child ID="31" label="> receive_query(QueryItem)"
            created="1477321911038" x="5.0" y="23.0" width="161.0"
            height="23.0" strokeWidth="1.0" autoSized="true" xsi:type="node">
            <fillColor>#00000000</fillColor>
            <strokeColor>#000000</strokeColor>
            <textColor>#000000</textColor>
            <font>Arial-plain-12</font>
            <URIString>http://vue.tufts.edu/rdf/resource/f7459f8a83d350e3016dd1beaed44efc</URIString>
            <shape xsi:type="rectangle"/>
        </child>
        <shape arcwidth="20.0" archeight="20.0" xsi:type="roundRect"/>
    </child>
    <child ID="33" label="queried_item(QueryItem)&#xa;> receive_query"
        layerID="1" created="1477322009896" x="216.61253" y="154.19173"
        width="248.88747" height="209.30827" strokeWidth="1.0"
        autoSized="false" controlCount="1" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/f7459f8a83d350e3016dd1bed6ae606e</URIString>
        <point1 x="465.0" y="154.69173"/>
        <point2 x="217.11253" y="363.0"/>
        <ID1 xsi:type="node">7</ID1>
        <ID2 xsi:type="node">31</ID2>
        <ctrlPoint0 x="257.0" y="165.0" xsi:type="point"/>
    </child>
    <child ID="34" label="responded(QueryResult)&#xa;> on_query_result"
        layerID="1" created="1477322030518" x="281.0" y="177.0"
        width="281.2552" height="184.72485" strokeWidth="1.0"
        autoSized="false" controlCount="1" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/f7459f8b83d350e3016dd1be69135c7a</URIString>
        <point1 x="281.5" y="361.22485"/>
        <point2 x="561.7552" y="177.5"/>
        <ID1 xsi:type="node">30</ID1>
        <ID2 xsi:type="node">32</ID2>
        <ctrlPoint0 x="447.0" y="319.0" xsi:type="point"/>
    </child>
    <child ID="37" label="queried_item()&#xa;> query_complete"
        layerID="1" created="1477322148660" x="561.4217" y="156.74902"
        width="171.07831" height="215.99023" strokeWidth="1.0"
        autoSized="false" controlCount="1" arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/f7459f8b83d350e3016dd1befedb0b71</URIString>
        <point1 x="561.9217" y="157.24902"/>
        <point2 x="732.0" y="372.23926"/>
        <ID1 xsi:type="node">22</ID1>
        <ID2 xsi:type="node">36</ID2>
        <ctrlPoint0 x="569.0" y="363.0" xsi:type="point"/>
    </child>
    <child ID="42" label="trigger_learner_update" layerID="1"
        created="1477322581288" x="840.25" y="396.6731"
        width="316.86597" height="149.8269" strokeWidth="1.0"
        strokeStyle="2" autoSized="false" controlCount="1"
        arrowState="2" xsi:type="link">
        <strokeColor>#404040</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/f74e3efe83d350e3016dd1bec4e5df81</URIString>
        <point1 x="840.75" y="397.1731"/>
        <point2 x="1156.616" y="546.0"/>
        <ID1 xsi:type="node">41</ID1>
        <ID2 xsi:type="node">40</ID2>
        <ctrlPoint0 x="1022.0" y="404.0" xsi:type="point"/>
    </child>
    <child ID="44"
        label="update_detection_model()&#xa;> learner_update_complete"
        layerID="1" created="1477322706019" x="803.7997" y="423.5"
        width="326.70032" height="132.16736" strokeWidth="1.0"
        autoSized="false" controlCount="1" arrowState="2" xsi:type="link">
        <strokeColor>#AD0C03</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/f74e3eff83d350e3016dd1bec15b4f99</URIString>
        <point1 x="1130.0" y="555.16736"/>
        <point2 x="804.2997" y="424.0"/>
        <ID1 xsi:type="node">40</ID1>
        <ID2 xsi:type="node">43</ID2>
        <ctrlPoint0 x="955.0" y="533.0" xsi:type="point"/>
    </child>
    <child ID="46" label="train()" layerID="1" created="1477322813500"
        x="895.5" y="574.0" width="236.90405" height="88.95239"
        strokeWidth="1.0" strokeStyle="2" autoSized="false"
        controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#000000</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/f74e3f0083d350e3016dd1beac1f7227</URIString>
        <point1 x="1131.904" y="574.5"/>
        <point2 x="896.0" y="662.4524"/>
        <ID1 xsi:type="node">40</ID1>
        <ID2 xsi:type="node">12</ID2>
    </child>
    <child ID="47" label="update_annotations" layerID="1"
        created="1477322816508" x="967.1746" y="223.75" width="189.4118"
        height="322.75" strokeWidth="1.0" strokeStyle="2"
        autoSized="false" controlCount="1" arrowState="2" xsi:type="link">
        <strokeColor>#000000</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/f74e3f0083d350e3016dd1be07cff684</URIString>
        <point1 x="1156.0864" y="546.0"/>
        <point2 x="967.6746" y="224.25"/>
        <ID1 xsi:type="node">40</ID1>
        <ID2 xsi:type="node">8</ID2>
        <ctrlPoint0 x="1029.0" y="417.0" xsi:type="point"/>
    </child>
    <child ID="48" label="update" layerID="1" created="1477322867402"
        x="1020.5" y="88.97098" width="153.0" height="45.631775"
        strokeWidth="1.0" strokeStyle="2" autoSized="false"
        controlCount="0" arrowState="2" xsi:type="link">
        <strokeColor>#000000</strokeColor>
        <textColor>#404040</textColor>
        <font>Arial-plain-11</font>
        <URIString>http://vue.tufts.edu/rdf/resource/f74e3f0183d350e3016dd1be1b7b1a52</URIString>
        <point1 x="1021.0" y="134.10275"/>
        <point2 x="1173.0" y="89.47098"/>
        <ID1 xsi:type="node">8</ID1>
        <ID2 xsi:type="node">11</ID2>
    </child>
    <layer ID="1" label="Layer 1" created="1477321093295" x="0.0"
        y="0.0" width="1.4E-45" height="1.4E-45" strokeWidth="0.0" autoSized="false">
        <URIString>http://vue.tufts.edu/rdf/resource/f7459f8b83d350e3016dd1bea98b7e7d</URIString>
    </layer>
    <userZoom>1.0</userZoom>
    <userOrigin x="-14.0" y="-14.0"/>
    <presentationBackground>#202020</presentationBackground>
    <PathwayList currentPathway="0" revealerIndex="-1">
        <pathway ID="0" label="Untitled Pathway" created="1477321093291"
            x="0.0" y="0.0" width="1.4E-45" height="1.4E-45"
            strokeWidth="0.0" autoSized="false" currentIndex="-1" open="true">
            <strokeColor>#B3993333</strokeColor>
            <textColor>#000000</textColor>
            <font>SansSerif-plain-14</font>
            <URIString>http://vue.tufts.edu/rdf/resource/f7459f8c83d350e3016dd1bee56f96ac</URIString>
            <masterSlide ID="2" created="1477321093310" x="0.0" y="0.0"
                width="800.0" height="600.0" locked="true"
                strokeWidth="0.0" autoSized="false">
                <fillColor>#000000</fillColor>
                <strokeColor>#404040</strokeColor>
                <textColor>#000000</textColor>
                <font>SansSerif-plain-14</font>
                <URIString>http://vue.tufts.edu/rdf/resource/f7459f8c83d350e3016dd1bed9706374</URIString>
                <titleStyle ID="3" label="Header"
                    created="1477321093401" x="335.5" y="172.5"
                    width="129.0" height="55.0" strokeWidth="0.0"
                    autoSized="true" isStyle="true" xsi:type="node">
                    <strokeColor>#404040</strokeColor>
                    <textColor>#FFFFFF</textColor>
                    <font>Gill Sans-plain-36</font>
                    <URIString>http://vue.tufts.edu/rdf/resource/f7459f8c83d350e3016dd1bedc8861d5</URIString>
                    <shape xsi:type="rectangle"/>
                </titleStyle>
                <textStyle ID="4" label="Slide Text"
                    created="1477321093402" x="346.5" y="281.5"
                    width="107.0" height="37.0" strokeWidth="0.0"
                    autoSized="true" isStyle="true" xsi:type="node">
                    <strokeColor>#404040</strokeColor>
                    <textColor>#FFFFFF</textColor>
                    <font>Gill Sans-plain-22</font>
                    <URIString>http://vue.tufts.edu/rdf/resource/f7459f8d83d350e3016dd1be7728b739</URIString>
                    <shape xsi:type="rectangle"/>
                </textStyle>
                <linkStyle ID="5" label="Links" created="1477321093403"
                    x="373.5" y="384.0" width="53.0" height="32.0"
                    strokeWidth="0.0" autoSized="true" isStyle="true" xsi:type="node">
                    <strokeColor>#404040</strokeColor>
                    <textColor>#B3BFE3</textColor>
                    <font>Gill Sans-plain-18</font>
                    <URIString>http://vue.tufts.edu/rdf/resource/f7459f8d83d350e3016dd1be2b97c306</URIString>
                    <shape xsi:type="rectangle"/>
                </linkStyle>
            </masterSlide>
        </pathway>
    </PathwayList>
    <date>2016-10-24</date>
    <modelVersion>6</modelVersion>
    <saveLocation>C:\Users\mal\rbrcode\InteractiveTrainingTool</saveLocation>
    <saveFile>C:\Users\mal\rbrcode\InteractiveTrainingTool\communication_diagram.vue</saveFile>
</LW-MAP>
